@import "./reset.css";

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
  display: block;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  appearance: revert;
}

pre {
  all: revert;
}

::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

strong {
  font-weight: bold;
}

a,
button {
  cursor: pointer;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #111;
}

.page-header {
  min-width: 320px;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  font-size: 15px;
  background-color: #fdfcfa;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: block;
    width: 144px;
    height: 80px;
  }

  &__nav-wrap,
  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__nav-wrap {
    margin-right: 60px;
  }

  &__link {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    &:first-of-type {
      padding-top: 1px;
    }

    &:hover {
      color: #444;
    }

    &:focus-visible {
      color: #444;
      text-decoration: underline;

      img {
        outline: 2px solid #555;
      }
    }

    &:focus:not(:focus-visible) {
      outline: none;
      text-decoration: none;

      img {
        outline: none;
      }
    }
  }

  &__social-link {
    display: block;
    margin: 0 5px;
    width: 30px;
    height: 30px;

    &:hover .social-icon,
    &:focus .social-icon {
      fill: #444;
    }
  }
}

.link-active {
  margin: 0 15px;
  font-weight: 700;
  color: #555;
}

.page-footer {
  padding: 0 40px;
  min-width: 320px;
  width: 100%;
  height: 80px;
  font-size: 13px;
  font-weight: 600;
  background-color: #171717;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__social-wrap {
    padding-top: 5px;
  }

  &__social-link {
    margin: 0 1px;

    &:hover .social-icon,
    &:focus .social-icon {
      fill: #c7c7c7;
    }
  }

  &__scroll-btn {
    &:hover,
    &:focus {
      color: #c7c7c7;
    }
  }

  &__scroll-text {
    margin-right: 5px;
  }

  &__scroll-arrow {
    position: relative;
    top: 5px;
  }
}

.page-footer__scroll-btn:hover .page-footer__scroll-arrow path,
.page-footer__scroll-btn:focus .page-footer__scroll-arrow path {
  fill: #c7c7c7;
}

.page-wrapper {
  width: 100%;
  /* max-width: 1530px; */
  min-width: 320px;
  height: 100%;
  min-height: calc(100vh - 160px);
  /* padding-top: 80px; */
}

.background {
  height: 80vh;
  max-height: 1000px;
  min-height: 500px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  }

  &__badge {
    max-width: 560px;
    margin: 7% 7% 0 auto;
    padding: 20px;
    font-weight: 300;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__badge-title {
    font-size: 48px;
    line-height: 1.7;
  }

  &__badge-text {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.75;
  }
}

.divider {
  width: 100%;
  height: 160px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #faf9f5;

  &__text {
    width: 45%;
    font-size: 16px;
    line-height: 1.8;

    &.-bolder {
      width: 75%;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
}

.results {
  padding: 20px 20px;

  &__list-wrap {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__list-title {
    font-size: 37px;
    font-weight: 700;
    line-height: 1.35;
    text-align: center;
    margin-bottom: 85px;
  }

  &__list-item {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: "";
      width: 55px;
      height: 55px;
      left: -80px;
      position: absolute;
      background-image: url("../assets/list-bullet.svg");
    }
  }
}

.form-section {
  padding: 30px 20px;
}

.form-container {
  margin: 0 auto;
  max-width: 760px;

  &__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__form-action {
    margin-bottom: 5px;
  }

  &__form-controls {
    margin: 0 auto;
  }

  &__form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
  }

  &__form-input {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-bottom: 25px;

    &:focus {
      outline: 1px solid #333;
    }
  }

  &__form-btn {
    width: 200px;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;

    &:hover,
    &:focus {
      background-color: #333;
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.products {
  padding: 50px 20px;

  &__container {
    padding-top: 25px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 75px 0px;
  }

  &__card {
    margin: 0 auto;
    max-width: 33%;
    text-align: center;
  }

  &__card-title {
    width: 80%;
    margin: 0 auto 20px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.6;
  }

  &__card-btn {
    height: 45px;
    margin: 20px 2px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;

    &:active {
      transform: scale(0.97);
    }

    &.-btn-details {
      width: 135px;
      border: 1px solid #000;

      &:hover,
      &:focus {
        background-color: #333;
        color: #fff;
        border-color: #333;
      }
    }

    &.-btn-buy {
      width: 105px;
      background-color: #00bf20;
      color: #fff;

      &:hover,
      &:focus {
        background-color: #fff;
        color: #00bf20;
        border: 1px solid #00bf20;
      }
    }
  }
}
